# Aplicar cada una de las siguientes operaciones sobre filas y columnas del DataFrame

In [98]:
import pandas as pd
import numpy as np

df = DataFrame(np.random.rand(50).reshape(10,5))
df

          0         1         2         3         4
0  0.027228  0.638787  0.025126  0.531318  0.813257
1  0.924913  0.571807  0.811745  0.145138  0.198732
2  0.743091  0.354141  0.801277  0.230774  0.184145
3  0.996578  0.053905  0.873166  0.360184  0.199764
4  0.025514  0.317937  0.619205  0.605986  0.391494
5  0.751050  0.715369  0.722286  0.927487  0.264201
6  0.514510  0.467947  0.285153  0.001956  0.059270
7  0.468424  0.754213  0.041322  0.864937  0.205017
8  0.890418  0.371334  0.475603  0.416899  0.208473
9  0.116247  0.636207  0.653453  0.548971  0.362693

## count

In [99]:
df.count()

0    10
1    10
2    10
3    10
4    10
dtype: int64

In [100]:
df.count(axis=1)

0    5
1    5
2    5
3    5
4    5
5    5
6    5
7    5
8    5
9    5
dtype: int64

## describe

In [101]:
df.describe()

               0          1          2          3          4
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.545797   0.488165   0.530834   0.463365   0.288704
std     0.376805   0.216944   0.314027   0.296278   0.206778
min     0.025514   0.053905   0.025126   0.001956   0.059270
25%     0.204291   0.358439   0.332765   0.263127   0.198990
50%     0.628800   0.519877   0.636329   0.474108   0.206745
75%     0.855576   0.638142   0.781530   0.591733   0.338070
max     0.996578   0.754213   0.873166   0.927487   0.813257

## mean

In [102]:
df.mean()

0    0.545797
1    0.488165
2    0.530834
3    0.463365
4    0.288704
dtype: float64

In [103]:
df.mean(axis=1)

0    0.407143
1    0.530467
2    0.462686
3    0.496719
4    0.392027
5    0.676079
6    0.265767
7    0.466783
8    0.472545
9    0.463514
dtype: float64

## min, max

In [104]:
display(df.min())
display(df.max())

0    0.025514
1    0.053905
2    0.025126
3    0.001956
4    0.059270
dtype: float64

0    0.996578
1    0.754213
2    0.873166
3    0.927487
4    0.813257
dtype: float64

In [105]:
ax1 = 1
display(df.min(axis=ax1))
display(df.max(axis=ax1))

0    0.025126
1    0.145138
2    0.184145
3    0.053905
4    0.025514
5    0.264201
6    0.001956
7    0.041322
8    0.208473
9    0.116247
dtype: float64

0    0.813257
1    0.924913
2    0.801277
3    0.996578
4    0.619205
5    0.927487
6    0.514510
7    0.864937
8    0.890418
9    0.653453
dtype: float64

## argmin, argmax

In [106]:
display(df.apply(lambda x: x.argmin()))
display(df.apply(lambda x: x.argmax()))

0    4
1    3
2    0
3    6
4    6
dtype: int64

0    3
1    7
2    3
3    5
4    0
dtype: int64

In [107]:
display(df.apply(lambda x: x.argmin(), axis=ax1))
display(df.apply(lambda x: x.argmax(), axis=ax1))

0    2
1    3
2    4
3    1
4    0
5    4
6    3
7    2
8    4
9    0
dtype: int64

0    4
1    0
2    2
3    0
4    2
5    3
6    0
7    3
8    0
9    2
dtype: int64

## idmin, idmax

In [108]:
display(df.idxmax())
display(df.idxmin())

0    3
1    7
2    3
3    5
4    0
dtype: int64

0    4
1    3
2    0
3    6
4    6
dtype: int64

In [109]:
display(df.idxmax(axis=ax1))
display(df.idxmin(axis=ax1))

0    4
1    0
2    2
3    0
4    2
5    3
6    0
7    3
8    0
9    2
dtype: int64

0    2
1    3
2    4
3    1
4    0
5    4
6    3
7    2
8    4
9    0
dtype: int64

# quantile

In [110]:
df.quantile()

0    0.628800
1    0.519877
2    0.636329
3    0.474108
4    0.206745
Name: 0.5, dtype: float64

In [111]:
df.quantile(axis=ax1)

0    0.531318
1    0.571807
2    0.354141
3    0.360184
4    0.391494
5    0.722286
6    0.285153
7    0.468424
8    0.416899
9    0.548971
Name: 0.5, dtype: float64

## sum

In [112]:
df.sum()

0    5.457971
1    4.881648
2    5.308337
3    4.633650
4    2.887045
dtype: float64

In [113]:
df.sum(axis=ax1)

0    2.035716
1    2.652334
2    2.313428
3    2.483597
4    1.960137
5    3.380393
6    1.328835
7    2.333913
8    2.362726
9    2.317571
dtype: float64

## mean

In [114]:
df.mean()

0    0.545797
1    0.488165
2    0.530834
3    0.463365
4    0.288704
dtype: float64

In [115]:
df.mean(axis=ax1)

0    0.407143
1    0.530467
2    0.462686
3    0.496719
4    0.392027
5    0.676079
6    0.265767
7    0.466783
8    0.472545
9    0.463514
dtype: float64

## meadian

In [116]:
df.mean()

0    0.545797
1    0.488165
2    0.530834
3    0.463365
4    0.288704
dtype: float64

In [117]:
df.mean(axis=ax1)

0    0.407143
1    0.530467
2    0.462686
3    0.496719
4    0.392027
5    0.676079
6    0.265767
7    0.466783
8    0.472545
9    0.463514
dtype: float64

## mod

In [118]:
df.mode()

          0         1         2         3         4
0  0.025514  0.053905  0.025126  0.001956  0.059270
1  0.027228  0.317937  0.041322  0.145138  0.184145
2  0.116247  0.354141  0.285153  0.230774  0.198732
3  0.468424  0.371334  0.475603  0.360184  0.199764
4  0.514510  0.467947  0.619205  0.416899  0.205017
5  0.743091  0.571807  0.653453  0.531318  0.208473
6  0.751050  0.636207  0.722286  0.548971  0.264201
7  0.890418  0.638787  0.801277  0.605986  0.362693
8  0.924913  0.715369  0.811745  0.864937  0.391494
9  0.996578  0.754213  0.873166  0.927487  0.813257

In [119]:
df.mode(axis=ax1)

          0         1         2         3         4
0  0.025126  0.027228  0.531318  0.638787  0.813257
1  0.145138  0.198732  0.571807  0.811745  0.924913
2  0.184145  0.230774  0.354141  0.743091  0.801277
3  0.053905  0.199764  0.360184  0.873166  0.996578
4  0.025514  0.317937  0.391494  0.605986  0.619205
5  0.264201  0.715369  0.722286  0.751050  0.927487
6  0.001956  0.059270  0.285153  0.467947  0.514510
7  0.041322  0.205017  0.468424  0.754213  0.864937
8  0.208473  0.371334  0.416899  0.475603  0.890418
9  0.116247  0.362693  0.548971  0.636207  0.653453

## prod

In [120]:
df.prod()

0    8.914902e-06
1    1.322330e-04
2    2.337086e-05
3    1.394593e-06
4    5.649977e-07
dtype: float64

In [121]:
df.prod(axis=ax1)

0    0.000189
1    0.012383
2    0.008961
3    0.003375
4    0.001192
5    0.095093
6    0.000008
7    0.002589
8    0.013667
9    0.009622
dtype: float64

## var

In [122]:
df.var()

0    0.141982
1    0.047065
2    0.098613
3    0.087781
4    0.042757
dtype: float64

In [123]:
df.var(axis=ax1)

0    0.131070
1    0.123735
2    0.084105
3    0.173620
4    0.059303
5    0.060537
6    0.053841
7    0.122671
8    0.064425
9    0.050991
dtype: float64

## std

In [124]:
df.std()

0    0.376805
1    0.216944
2    0.314027
3    0.296278
4    0.206778
dtype: float64

In [125]:
df.std(axis=ax1)

0    0.362036
1    0.351760
2    0.290009
3    0.416677
4    0.243521
5    0.246043
6    0.232036
7    0.350244
8    0.253822
9    0.225811
dtype: float64

## skew

In [126]:
df.skew()

0   -0.406794
1   -0.721338
2   -0.762498
3    0.129954
4    2.043053
dtype: float64

In [127]:
df.skew(axis=ax1)

0   -0.256943
1   -0.095963
2    0.435652
3    0.361012
4   -0.811383
5   -1.493841
6   -0.116847
7   -0.078429
8    1.359215
9   -1.095630
dtype: float64

## kurt

In [128]:
df.kurt()

0   -1.534989
1    0.156720
2   -0.896058
3   -0.614027
4    5.087395
dtype: float64

In [129]:
df.kurt(axis=ax1)

0   -2.728486
1   -2.723647
2   -2.985583
3   -2.647155
4    0.116258
5    3.191865
6   -2.755961
7   -2.233644
8    2.681719
9    0.120402
dtype: float64

## cumsum

In [130]:
df.cumsum()

          0         1         2         3         4
0  0.027228  0.638787  0.025126  0.531318  0.813257
1  0.952141  1.210594  0.836871  0.676456  1.011988
2  1.695232  1.564735  1.638148  0.907230  1.196133
3  2.691809  1.618641  2.511314  1.267414  1.395897
4  2.717323  1.936578  3.130520  1.873400  1.787391
5  3.468373  2.651947  3.852805  2.800887  2.051592
6  3.982883  3.119894  4.137958  2.802843  2.110863
7  4.451306  3.874107  4.179280  3.667780  2.315880
8  5.341724  4.245441  4.654883  4.084679  2.524352
9  5.457971  4.881648  5.308337  4.633650  2.887045

In [131]:
df.cumsum(axis=ax1)

          0         1         2         3         4
0  0.027228  0.666015  0.691141  1.222459  2.035716
1  0.924913  1.496720  2.308465  2.453603  2.652334
2  0.743091  1.097232  1.898509  2.129284  2.313428
3  0.996578  1.050483  1.923649  2.283833  2.483597
4  0.025514  0.343451  0.962656  1.568642  1.960137
5  0.751050  1.466419  2.188705  3.116192  3.380393
6  0.514510  0.982456  1.267609  1.269565  1.328835
7  0.468424  1.222637  1.263959  2.128896  2.333913
8  0.890418  1.261752  1.737355  2.154253  2.362726
9  0.116247  0.752453  1.405907  1.954878  2.317571

## cumin, cumax

In [132]:
display(df.cummin())
display(df.cummax())

          0         1         2         3         4
0  0.027228  0.638787  0.025126  0.531318  0.813257
1  0.027228  0.571807  0.025126  0.145138  0.198732
2  0.027228  0.354141  0.025126  0.145138  0.184145
3  0.027228  0.053905  0.025126  0.145138  0.184145
4  0.025514  0.053905  0.025126  0.145138  0.184145
5  0.025514  0.053905  0.025126  0.145138  0.184145
6  0.025514  0.053905  0.025126  0.001956  0.059270
7  0.025514  0.053905  0.025126  0.001956  0.059270
8  0.025514  0.053905  0.025126  0.001956  0.059270
9  0.025514  0.053905  0.025126  0.001956  0.059270

          0         1         2         3         4
0  0.027228  0.638787  0.025126  0.531318  0.813257
1  0.924913  0.638787  0.811745  0.531318  0.813257
2  0.924913  0.638787  0.811745  0.531318  0.813257
3  0.996578  0.638787  0.873166  0.531318  0.813257
4  0.996578  0.638787  0.873166  0.605986  0.813257
5  0.996578  0.715369  0.873166  0.927487  0.813257
6  0.996578  0.715369  0.873166  0.927487  0.813257
7  0.996578  0.754213  0.873166  0.927487  0.813257
8  0.996578  0.754213  0.873166  0.927487  0.813257
9  0.996578  0.754213  0.873166  0.927487  0.813257

In [133]:
display(df.cummin(axis=ax1))
display(df.cummax(axis=ax1))

          0         1         2         3         4
0  0.027228  0.027228  0.025126  0.025126  0.025126
1  0.924913  0.571807  0.571807  0.145138  0.145138
2  0.743091  0.354141  0.354141  0.230774  0.184145
3  0.996578  0.053905  0.053905  0.053905  0.053905
4  0.025514  0.025514  0.025514  0.025514  0.025514
5  0.751050  0.715369  0.715369  0.715369  0.264201
6  0.514510  0.467947  0.285153  0.001956  0.001956
7  0.468424  0.468424  0.041322  0.041322  0.041322
8  0.890418  0.371334  0.371334  0.371334  0.208473
9  0.116247  0.116247  0.116247  0.116247  0.116247

          0         1         2         3         4
0  0.027228  0.638787  0.638787  0.638787  0.813257
1  0.924913  0.924913  0.924913  0.924913  0.924913
2  0.743091  0.743091  0.801277  0.801277  0.801277
3  0.996578  0.996578  0.996578  0.996578  0.996578
4  0.025514  0.317937  0.619205  0.619205  0.619205
5  0.751050  0.751050  0.751050  0.927487  0.927487
6  0.514510  0.514510  0.514510  0.514510  0.514510
7  0.468424  0.754213  0.754213  0.864937  0.864937
8  0.890418  0.890418  0.890418  0.890418  0.890418
9  0.116247  0.636207  0.653453  0.653453  0.653453

## cumprod

In [134]:
df.cumprod()

          0         1         2         3             4
0  0.027228  0.638787  0.025126  0.531318  8.132565e-01
1  0.025184  0.365263  0.020396  0.077114  1.616197e-01
2  0.018714  0.129355  0.016343  0.017796  2.976139e-02
3  0.018650  0.006973  0.014270  0.006410  5.945266e-03
4  0.000476  0.002217  0.008836  0.003884  2.327538e-03
5  0.000357  0.001586  0.006382  0.003603  6.149376e-04
6  0.000184  0.000742  0.001820  0.000007  3.644762e-05
7  0.000086  0.000560  0.000075  0.000006  7.472382e-06
8  0.000077  0.000208  0.000036  0.000003  1.557787e-06
9  0.000009  0.000132  0.000023  0.000001  5.649977e-07

In [135]:
df.cumprod(axis=ax1)

          0         1         2         3         4
0  0.027228  0.017393  0.000437  0.000232  0.000189
1  0.924913  0.528871  0.429309  0.062309  0.012383
2  0.743091  0.263159  0.210863  0.048662  0.008961
3  0.996578  0.053721  0.046907  0.016895  0.003375
4  0.025514  0.008112  0.005023  0.003044  0.001192
5  0.751050  0.537278  0.388068  0.359928  0.095093
6  0.514510  0.240763  0.068654  0.000134  0.000008
7  0.468424  0.353291  0.014599  0.012627  0.002589
8  0.890418  0.330642  0.157254  0.065559  0.013667
9  0.116247  0.073957  0.048327  0.026530  0.009622

## diff

In [136]:
df.diff()

          0         1         2         3         4
0       NaN       NaN       NaN       NaN       NaN
1  0.897685 -0.066981  0.786620 -0.386180 -0.614525
2 -0.181822 -0.217666 -0.010468  0.085637 -0.014587
3  0.253487 -0.300236  0.071889  0.129409  0.015620
4 -0.971064  0.264032 -0.253961  0.245803  0.191730
5  0.725537  0.397432  0.103081  0.321501 -0.127293
6 -0.236541 -0.247423 -0.437133 -0.925531 -0.204930
7 -0.046086  0.286267 -0.243831  0.862982  0.145747
8  0.421994 -0.382880  0.434281 -0.448039  0.003456
9 -0.774171  0.264873  0.177850  0.132073  0.154220

In [137]:
df.diff(axis=ax1)

    0         1         2         3         4
0 NaN  0.611559 -0.613662  0.506193  0.281938
1 NaN -0.353106  0.239939 -0.666608  0.053594
2 NaN -0.388950  0.447136 -0.570503 -0.046630
3 NaN -0.942672  0.819261 -0.512982 -0.160419
4 NaN  0.292424  0.301268 -0.013219 -0.214492
5 NaN -0.035681  0.006917  0.205201 -0.663286
6 NaN -0.046563 -0.182794 -0.283197  0.057315
7 NaN  0.285790 -0.712892  0.823616 -0.659920
8 NaN -0.519084  0.104269 -0.058704 -0.208426
9 NaN  0.519960  0.017247 -0.104482 -0.186279

## pct_change

In [138]:
df.pct_change()

           0         1          2           3         4
0        NaN       NaN        NaN         NaN       NaN
1  32.969168 -0.104856  31.307545   -0.726834 -0.755635
2  -0.196583 -0.380663  -0.012896    0.590037 -0.073401
3   0.341125 -0.847785   0.089718    0.560761  0.084824
4  -0.974399  4.898054  -0.290851    0.682437  0.959780
5  28.437287  1.250031   0.166473    0.530541 -0.325147
6  -0.314947 -0.345867  -0.605208   -0.997892 -0.775662
7  -0.089573  0.611751  -0.855089  441.302786  2.459010
8   0.900881 -0.507654  10.509756   -0.518001  0.016855
9  -0.869447  0.713301   0.373947    0.316798  0.739762

In [139]:
df.pct_change(axis=ax1)

    0          1          2          3          4
0 NaN  22.460674  -0.960667  20.146515   0.530639
1 NaN  -0.381772   0.419615  -0.821203   0.369261
2 NaN  -0.523421   1.262593  -0.711992  -0.202059
3 NaN  -0.945909  15.198099  -0.587497  -0.445382
4 NaN  11.461500   0.947569  -0.021348  -0.353955
5 NaN  -0.047508   0.009669   0.284100  -0.715143
6 NaN  -0.090500  -0.390629  -0.993142  29.309102
7 NaN   0.610110  -0.945212  19.931781  -0.762969
8 NaN  -0.582967   0.280797  -0.123432  -0.499944
9 NaN   4.472901   0.027109  -0.159892  -0.339323