In [3]:
from random import randint, choice

frutas = ["manzana", "pera", "limon", "sandia", "platano", "cereza"]
personas = ["Ana", "Beto", "Daniela", "Carlos", "Emmanuel", "Felipe", "Gloria"]

print(choice(frutas))

pera

In [4]:
db = [(nombre, choice(frutas), randint(1,1000), randint(1,1000), randint(1,1000))for nombre in personas]

[('Ana', 'limon', 718, 354, 115), ('Beto', 'pera', 410, 264, 669), ('Daniela', 'pera', 413, 853, 102), ('Carlos', 'pera', 987, 880, 3), ('Emmanuel', 'sandia', 782, 67, 572), ('Felipe', 'sandia', 715, 880, 854), ('Gloria', 'manzana', 966, 177, 256)]

In [5]:
categorias = ["nombre", "fruta", "R1", "R2", "R3"]

['nombre', 'fruta', 'R1', 'R2', 'R3']

In [6]:
from dataclasses import dataclass

@dataclass
class Element:
    nombre: str
    fruta: str
    R1: int
    R2: int
    R3: int

# Spread operator in python " * "
datos = [Element(*row) for row in db]

[Element(nombre='Ana', fruta='limon', R1=718, R2=354, R3=115), Element(nombre='Beto', fruta='pera', R1=410, R2=264, R3=669), Element(nombre='Daniela', fruta='pera', R1=413, R2=853, R3=102), Element(nombre='Carlos', fruta='pera', R1=987, R2=880, R3=3), Element(nombre='Emmanuel', fruta='sandia', R1=782, R2=67, R3=572), Element(nombre='Felipe', fruta='sandia', R1=715, R2=880, R3=854), Element(nombre='Gloria', fruta='manzana', R1=966, R2=177, R3=256)]

In [11]:
def orden(lista):
    return lista[2]

sorted(db, key=orden)

[('Beto', 'pera', 410, 264, 669),
 ('Daniela', 'pera', 413, 853, 102),
 ('Felipe', 'sandia', 715, 880, 854),
 ('Ana', 'limon', 718, 354, 115),
 ('Emmanuel', 'sandia', 782, 67, 572),
 ('Gloria', 'manzana', 966, 177, 256),
 ('Carlos', 'pera', 987, 880, 3)]

In [10]:
sorted(datos, key=lambda x: x.R1)

[Element(nombre='Beto', fruta='pera', R1=410, R2=264, R3=669),
 Element(nombre='Daniela', fruta='pera', R1=413, R2=853, R3=102),
 Element(nombre='Felipe', fruta='sandia', R1=715, R2=880, R3=854),
 Element(nombre='Ana', fruta='limon', R1=718, R2=354, R3=115),
 Element(nombre='Emmanuel', fruta='sandia', R1=782, R2=67, R3=572),
 Element(nombre='Gloria', fruta='manzana', R1=966, R2=177, R3=256),
 Element(nombre='Carlos', fruta='pera', R1=987, R2=880, R3=3)]

In [13]:
sorted(datos, key=lambda x: (x.fruta, x.R1))

[Element(nombre='Ana', fruta='limon', R1=718, R2=354, R3=115),
 Element(nombre='Gloria', fruta='manzana', R1=966, R2=177, R3=256),
 Element(nombre='Beto', fruta='pera', R1=410, R2=264, R3=669),
 Element(nombre='Daniela', fruta='pera', R1=413, R2=853, R3=102),
 Element(nombre='Carlos', fruta='pera', R1=987, R2=880, R3=3),
 Element(nombre='Felipe', fruta='sandia', R1=715, R2=880, R3=854),
 Element(nombre='Emmanuel', fruta='sandia', R1=782, R2=67, R3=572)]

In [14]:
sorted(datos, key=lambda x: x.R1+x.R2+x.R3)

[Element(nombre='Ana', fruta='limon', R1=718, R2=354, R3=115),
 Element(nombre='Beto', fruta='pera', R1=410, R2=264, R3=669),
 Element(nombre='Daniela', fruta='pera', R1=413, R2=853, R3=102),
 Element(nombre='Gloria', fruta='manzana', R1=966, R2=177, R3=256),
 Element(nombre='Emmanuel', fruta='sandia', R1=782, R2=67, R3=572),
 Element(nombre='Carlos', fruta='pera', R1=987, R2=880, R3=3),
 Element(nombre='Felipe', fruta='sandia', R1=715, R2=880, R3=854)]